@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 200vh;
}

div {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .9)), url(../src/milky_way_1920.jpg);
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;

}

span {
    letter-spacing: 6px;
    font-size: 68px;
    color: white;
    font-family: 'Red Rose', cursive;
}

.cursor {
    opacity: 0;
}

.active {
    opacity: 1;
}